@charset "UTF-8";
/*
  General Styles
---------------------------------------*/

body {
	color: #333;
	font: .9em/1.2em Calibri, Verdana, Geneva, sans-serif;
}

p {
	margin-top: 15px;
	font-size: 18px;
	color: #444;
	line-height: 25px;
}

a:link,
a:visited {
	color: #0083a9;
	text-decoration: none;
}

  a:visited { color: #007da1; }

a:hover,
a:active {
	color: #999;
	text-decoration: underline;
}

h2,
h2 a:link,
h2 a:visited,
.intro h2.pane-title,
#title .pane-content,
.views-field-title a {
	border: none;
	color: #444;
	font-size: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 1px #555;
	text-transform: uppercase;
}

	h2.pane-title { 
		border-top: 1px solid #eee;
		font-size: 16px; 
		line-height: 16px;
		margin-bottom: 8px; 
		padding-top: 2px;
		text-shadow: none; 
		width: 100%;
	}
	
	.views-field-title a { font-size: 30px; line-height: 24px; }

#container {
	margin: 0 auto 0 auto;
	position: relative;
	padding: 10px 0 0 0;
	width: 1000px;
}

.clear {
	clear: both;
}

.breadcrumb,
.breadcrumb a { color: #aaa; }


/*
  Header, nav
---------------------------------------*/

#header {
	margin: 0 16px 28px 20px;
	padding-top: 56px;
	position: relative;
}

h1 {
	height: 56px;
	margin-left: 76px;
	width: 70px;
}

#primary-links {
	bottom: 0;
	position: absolute;
	right: 16px;
}

	#primary-links li { display: inline; }
	
		#primary-links li a { 	
			color: #888;
			display: block;
			float: left; 
  		font-size: 17px;
			margin-left: 25px;
			min-width: 54px; 
			padding-top: 54px;
			text-align: center; 
		}
	
		#primary-links li a:hover,
		#primary-links li a.active { background-position: center top; color: #247223; }
	  
		#primary-links li.menu-144 a { background: url(images/nav-home.gif) no-repeat left -86px;}
		#primary-links li.menu-256 a { background: url(images/nav-learn.gif) no-repeat center -87px;}
		#primary-links li.menu-276 a { background: url(images/nav-projects.gif) no-repeat center -88px;}
		#primary-links li.menu-283 a { background: url(images/nav-news.gif) no-repeat center -88px;}
		#primary-links li.menu-143 a { background: url(images/nav-advocacy.gif) no-repeat center -71px;}
		#primary-links li.menu-290 a { background: url(images/nav-about.gif) no-repeat center -69px;}
	

#socialIcons {
	position: absolute;
	right: 14px;
	text-align: right;
	top: 0;	
	width: 200px;
}
	
	#socialIcons li {
		display: inline;
		margin-right: 4px;
	}


/* end of header - title - nav */


/*
  mainContent - clear - heroImage - rotatingContent
---------------------------------------*/

#mainContent {
	height: auto;
	position: relative;
	width: 1000px;
}

#heroImage {
	background: url(images/hero.jpg) top center no-repeat;
	border: 1px solid #111;	
	height: 553px;
	position: relative;
	width: 998px;
}

#rotatingContent {
  background: url(images/transparency.png);
  -webkit-box-shadow: 1px 1px 10px #555;
  -moz-box-shadow: 1px 1px 10px #555;
	padding: 30px;
	position: absolute;
	overflow: hidden;
	right: 90px;
	top: 55px;
	width: 400px;
}

	/* learn more */
	.views-field-view-node { padding-top: 8px; }

	.views-field-view-node a {
		color: #007da1;
		font-size: 22px;
	}

/* end of mainContent - rotatingContent */


/* articles */

.intro .node .content { padding: 0; }

	.intro .field-field-photos { margin-top: 10px; }

	.intro .field-field-photos a {
		height: auto;
		margin: 0 11px 0 0;
		width: auto;
	}
	
	.intro .node .content p { font-size: 18px; line-height: 27px; width: 600px; }


/* learn more */
.recent-articles .views-field-view-node a {
	color: #007da1;
	font-size: 18px;
}

.node .content { 
  float: left;
  padding-bottom: 70px;
}

  .pane-content .node .content { margin-left: 0; padding-left: 0; width: 100%; }
	
	.panel-2col-stacked .panel-col-first { 
	  float: left; 
	  margin-right: 36px;
	  width: 400px;
	}
	
		.photos { margin-top: 26px; }
	
		.field-field-photos a {
			display: block;
			float: left;
			height: 74px;
			margin: 0 11px 20px 0;
			overflow: hidden;
			width: 112px;
		}
		
	.attachments { clear: both; float: left; }	
	
		.attachments li { font-size: 16px; line-height: 24px; width: 400px; }
		
			.attachments li em { color: #999; font-size: 12px; }
	
	#articleView .pane-content p {
		clear: right;
		float: left;
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 12px 0;
		width: 412px;
	}
	
		#page .pane-content p { margin-left: -436px; }
	
	

/* end of articles */



/* footer - socialIcons - legal */

#footer {
	background-color: #999;
	border-top: 1px solid #000;
	float: left;
	margin: 20px auto 0;
	padding: 12px 0 16px;
	padding-top: 5px;
	width: 100%;
}

	#footer .wrapper { 
		margin: 0 auto; 
		width: 1000px; 
	}

	#footer h2 { display: none; }
	
	#footer ul.menu li {
		display: inline;
		margin: 0;
		padding: 0 7px 0 5px;
		border-right: 2px solid #dedede;
		font-size: 18px;
	}
	
		#footer ul.menu li:last-child { border: 0; }
		
		#footer ul.menu li a { color: #dedede; }
		
		#footer ul.menu li a:hover,
		#footer ul.menu li a:active { color: #fff; }
		
		#footer ul.menu .menu { display: none; }
	
	.block-search { padding: 0 58px 18px 0; text-align: right; width: 100%; }
		
		.block-search h2, 
		.block-search label { display: none; }
		
	#block-menu-secondary-links { 
		clear: both; 
		float: right; 
		width: auto; 
	}
	
		#block-menu-secondary-links ul.menu li { font-size: 16px; }
		
/* end of footer - socialIcons - legal */


