@charset "UTF-8";
/*
  General Styles
---------------------------------------*/

body {
	color: #333;
	font: .9em/1.2em Calibri, Verdana, Geneva, sans-serif;
}

p {
	margin-top: 15px;
	font-size: 18px;
	color: #444;
	line-height: 25px;
}

a:link,
a:visited {
	color: #0083a9;
	text-decoration: none;
}

  a:visited { color: #007da1; }

a:hover,
a:active {
	color: #999;
	text-decoration: underline;
}

h2,
h2 a:link,
h2 a:visited {
	color: #444;
  font-family: Nevis;
	font-size: 40px;
	line-height: 40px;
	text-shadow: 1px 1px 1px #555;
	text-transform: uppercase;
}

#container {
	margin: 0 auto 0 auto;
	position: relative;
	padding: 10px 0 0 0;
	width: 1000px;
}

.clear {
	clear: both;
}


/*
  Header, nav
---------------------------------------*/

#header {
	margin: 0 16px 28px 20px;
	padding-top: 56px;
	position: relative;
}

h1 {
	height: 56px;
	margin-left: 76px;
	width: 70px;
}

#primary-links {
	bottom: 0;
	position: absolute;
	right: 16px;
}

	#primary-links li { display: inline; }
	
		#primary-links li a { 	
			color: #888;
			display: block;
			float: left; 
  		font-size: 17px;
			margin-left: 25px;
			min-width: 54px; 
			padding-top: 54px;
			text-align: center; 
		}
	
		#primary-links li a:hover,
		#primary-links li a.active { background-position: center top; color: #247223; }
	  
		#primary-links .menu-144 a { background: url(images/nav-home.gif) no-repeat left -86px; }
		#primary-links .menu-140 a { background: url(images/nav-learn.gif) no-repeat center -87px; }
		#primary-links .menu-142 a { background: url(images/nav-projects.gif) no-repeat center -88px; }
		#primary-links .menu-141 a { background: url(images/nav-news.gif) no-repeat center -88px; }
		#primary-links .menu-143 a { background: url(images/nav-advocacy.gif) no-repeat center -71px; }
		#primary-links .menu-138 a { background: url(images/nav-about.gif) no-repeat center -69px; }
	

#socialIcons {
	position: absolute;
	right: 14px;
	top: 0;	
}
	
	#socialIcons li {
		display: inline;
		margin-right: 4px;
	}


/* end of header - title - nav */


/*
  mainContent - clear - heroImage - rotatingContent
---------------------------------------*/

#mainContent {
	height: auto;
	position: relative;
	width: 1000px;
}

#heroImage {
	background: url(images/hero.jpg) top center no-repeat;
	border: 1px solid #111;	
	height: 553px;
	position: relative;
	width: 998px;
}

#rotatingContent {
  background: url(images/transparency.png);
  -webkit-box-shadow: 1px 1px 10px #555;
  -moz-box-shadow: 1px 1px 10px #555;
	padding: 30px;
	position: absolute;
	right: 90px;
	top: 55px;
	width: 400px;
}
  
  #rotatingContent ul { margin: 0; padding: 12px 0 0 0; }
  
  #rotatingContent ul li a { font-size: 22px; margin: 0; padding: 0; }

/* end of mainContent - rotatingContent */




/* footer - socialIcons - legal */

#footer {
	background-color: #999;
	height: 90px;
	margin: 0 auto;
	padding-top: 5px;
	width: 1000px;
}

#legal {
	width: 1024px;
	text-align: center;
	margin: 45px 0 0 0;
}

#legal li {
	display: inline;
	padding: 0 7px 0 5px;
	border-right: 2px solid #333;
	font-size: 16px;
}

#legal .last {
	border-right: none;	
}

#legal a:link {
	color: #333;	
}

#legal a:viisited {
	color: #333;	
}

#legal a:hover {
	color: #ccc;	
}

#legal a:active {
	color: #ccc;	
}

/* end of footer - socialIcons - legal */


