@charset "UTF-8";
/*
  General Styles
---------------------------------------*/

body {
	color: #333;
	font: .9em/1.2em Calibri, Verdana, Geneva, sans-serif;
}

a:link,
a:visited {
	color: #333;
	text-decoration: none;
}

	a:hover,
	a:active {
		color: #999;
		text-decoration: none;
	}

#container {
	width: 900px;
	margin: 0 auto 0 auto;
	position: relative;
	padding: 10px 0 0 0;
}

.clear {
	clear: both;
}


/*
  Header, nav
---------------------------------------*/

#header {
	padding: 20px 16px 28px 20px;
	position: relative;
}

h1 {
	height: 56px;
	margin-top: 56px;
	width: 70px;
}

#primary-links {
	bottom: 0;
	position: absolute;
	right: 16px;
}

	#primary-links li {
		display: inline;
		font-size: 17px;
	}
	
		#primary-links li a { 	
			color: #888;
			display: block;
			float: left; 
			margin-left: 25px;
			min-width: 54px; 
			padding-top: 54px;
			text-align: center; 
		}
	
		#primary-links li a:hover,
		#primary-links li a.active { background-position: center top; color: #247223; }
	  
		#primary-links .menu-144 a { background: url(images/nav-home.gif) no-repeat left -86px; }
		#primary-links .menu-140 a { background: url(images/nav-learn.gif) no-repeat center -87px; }
		#primary-links .menu-142 a { background: url(images/nav-projects.gif) no-repeat center -88px; }
		#primary-links .menu-141 a { background: url(images/nav-news.gif) no-repeat center -88px; }
		#primary-links .menu-143 a { background: url(images/nav-advocacy.gif) no-repeat center -71px; }
		#primary-links .menu-138 a { background: url(images/nav-about.gif) no-repeat center -69px; }
	

#socialIcons {
	position: absolute;
	right: 14px;
	top: 0;	
}
	
	#socialIcons li {
		display: inline;
		margin-right: 4px;
	}


/* end of header - title - nav */


/*
  mainContent - clear - heroImage - rotatingContent
---------------------------------------*/

#mainContent {
  float: left;
	height: auto;
	position: relative;
	width: 900px;
}

#heroImage {
	background: url(images/hero.jpg) top center no-repeat;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;	
	height: 630px;
	position: absolute;
	width: 900px;
}

#rotatingContent {
  background: url(images/transparency.png) no-repeat;
	height: 320px;
	margin: 0 0 0 550px;
	padding: 30px;
	position: absolute;
	overflow: hidden;
  width: 320px;
}

#rotatingContent h2 {
	font-size: 40px;
	line-height: 40px;
	color: #444;
}

#rotatingContent p {
	margin-top: 15px;
	font-size: 18px;
	color: #444;
	line-height: 25px;
}

#rotatingContent a:link {
	color: #007da1;
	font-size: 20px;
}

#rotatingContent a:visited {
	color: #007da1;
	font-size: 20px;
}

#rotatingContent a:hover {
	color: #999;
	font-size: 20px;
}

#rotatingContent a:active {
	color: #999;
	font-size: 20px;
}

/* end of mainContent - rotatingContent */




/* footer - socialIcons - legal */

#footer {
  float: left;
	width: 900px;
	height: 90px;
	margin-top: 55px;
	padding-top: 5px;
	background-color: #999;
}

#legal {
	width: 1024px;
	text-align: center;
	margin: 45px 0 0 0;
}

#legal li {
	display: inline;
	padding: 0 7px 0 5px;
	border-right: 2px solid #333;
	font-size: 16px;
}

#legal .last {
	border-right: none;	
}

#legal a:link {
	color: #333;	
}

#legal a:viisited {
	color: #333;	
}

#legal a:hover {
	color: #ccc;	
}

#legal a:active {
	color: #ccc;	
}

/* end of footer - socialIcons - legal */


